body {
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position:fixed;
    top: 0;
    left: 0;
    background-color:rgb(73, 73, 73);
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 10px;
    border-bottom: 5px solid rgb(255, 255, 255);
}

header a {

    color: black;
}

header a:hover {
    background-color: black;
    color: rgb(255, 255, 255);
}


button {
    border: 1px solid rgb(0, 0, 0);
    color: black;
    margin: 5px;
   margin-left: 93%;
}

h1 {

    text-align: center;
    color: white;
    padding-top: 20px;

}

.image {
    display: flex;
    justify-content: center;
}

main {
    margin-top: 65px;
}

h2 {
    color: rgb(255, 255, 255);
    text-align: center;
}

h2 a {

    color: white;
}

.box {
    display: block;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    
}

.item {
    width: 600px;
    height: 200px;
    background-color: rgb(73, 73, 73);
    color: white;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    
}

.workplace {
    font-weight: bold;
    text-align: center;
}

.workpost1{
    text-align: center;
}

.workpost {
    text-align: center;
    margin-top: 20px;
}

.info {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}

.kontaktinfo {
    color: white;
    text-align: center;
}

